.section {
  &.grid-2 {
    --grid-size: 2;
  }

  &.grid-3 {
    --grid-size: 3;
  }

  &.grid-4 {
    --grid-size: 4;
  }

  &.grid-5 {
    --grid-size: 5;
  }

  &.grid-6 {
    --grid-size: 6;
  }

  &.gap-xs {
    --gap-spacing: var(--spacing-xs);
  }

  &.gap-s {
    --gap-spacing: var(--spacing-s);
  }

  &.gap-m {
    --gap-spacing: var(--spacing-m);
  }

  &.gap-l {
    --gap-spacing: var(--spacing-l);
  }

  &.gap-xl {
    --gap-spacing: var(--spacing-xl);
  }

  &.gap-xxl {
    --gap-spacing: var(--spacing-xxl);
  }

  .section-content {
    gap: var(--gap-spacing);
  }

  &.center {
    .default-content {
      text-align: center;
    }
  }

  &.container {
    .default-content,
    .section-content {
      max-width: var(--grid-container-width);
      margin: 0 auto;
    }
  }
}

@media (width >= 600px) {
  .section.grid-4 .section-content,
  .section.grid-6 .section-content {
    display: grid;
    grid-template-columns: repeat(calc(var(--grid-size) / 2), 1fr);
  }
}

@media (width >= 900px) {
  .section.grid .section-content {
    display: grid;
    grid-template-columns: repeat(var(--grid-size), 1fr);
  }
}
